body{
    background-color: rgb(18, 102, 91);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align:center;
}
a:visited,link{
    color: white;
    text-align: center;
}
.potato-link{        
    border: 5px solid rgb(196, 196, 40);
    border-radius: 10px;
    text-decoration: none;
    font-size: 50px;
    background-color: rgb(173, 146, 113);
    width: 51%;
}
.potato-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dressup-link{
    border: 5px solid palevioletred;
    border-radius: 10px;
    text-decoration: none;
    font-size: 50px;
    background-color: rgb(240, 164, 189);
    width: 51%;
}
.dressup-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 70px;
   text-align: center;
}
h3{
    font-size: 30px;
   text-align: center;
}
