body{
    background-color: rgb(163, 129, 42);
}
a:visited{
    color: white;
    text-decoration: none;
}
.back {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    color: white;
    background-color: black;
    width: 400px;
    height: 30px;
    border: 2px solid antiquewhite;
}
img{
    width: 400px; 
    height: 450px;
}
p{
    margin: auto;
    border: 2px solid antiquewhite;
    border-radius: 6px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: antiquewhite;
    box-sizing: border-box;
    max-width: 50%;
}
.submit{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(209, 184, 40);
    border: 2px solid antiquewhite;
    border-radius: 10px;
    cursor: pointer;
}
